# CHANGELOG: Shades of Purple

All notable changes in this project's [released versions](https://github.com/ahmadawais/shades-of-purple-vscode/releases) are documented in this file.


[![Version](https://vsmarketplacebadge.apphb.com/version/ahmadawais.shades-of-purple.svg?label=Shades%20of%20Purple&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple)
[![Developers Using Shades of Purple](https://vsmarketplacebadge.apphb.com/installs/ahmadawais.shades-of-purple.svg?label=Developers&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple)
[![Rating](https://img.shields.io/vscode-marketplace/r/ahmadawais.shades-of-purple.svg?label=Ratings&colorB=4D2AFF)](https://marketplace.visualstudio.com/items?itemName=ahmadawais.shades-of-purple#review-details) [![Ahmad on Twitter](https://img.shields.io/twitter/follow/mrahmadawais.svg?style=social&label=Follow%20@MrAhmadAwais)](https://twitter.com/mrahmadawais/)
[![VSCode.pro](https://img.shields.io/badge/-VSCode.pro%20%E2%86%92-gray.svg?colorB=4D2AFF)](https://VSCode.pro/)

![Learn Visual Studio Code](https://on.ahmda.ws/c01bf1/c)

## The [VSCode.pro Course →](https://vscode.pro)

Folks, I have spent an year in making a near-perfect [VSCode.pro](https://vscode.pro) course to help you become a VSCode Power User and learn most of the [VSCode Tips & Tricks](https://vscode.pro). Maybe you'd like to signup, I am launching the course this month.

<div align="center">
  <a href="https://VSCode.pro/" target="_blank"><img src="https://on.ahmda.ws/283bd9/c" />🎯 Learn VSCode →</a>

  _<small><a href="https://VSCode.pro/" target="_blank">VSCode Power User Course →</a></small>_
</div>

<br>

{{#each releases}}

  ![hr](https://raw.githubusercontent.com/ahmadawais/shades-of-purple-vscode/master/images/hr.png)

  <br>

  {{#if href}}
    ### RELEASE: [{{title}}]({{href}}){{#if tag}}{{/if}}
  {{else}}
    ### RELEASE: {{title}}{{#if tag}}{{/if}}
  {{/if}}

  {{#commit-list commits heading='![NEW](https://img.shields.io/badge/-NEW-gray.svg?colorB=3778FF)' message='NEW: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![IMPROVEMENT](https://img.shields.io/badge/-IMPROVEMENT-gray.svg?colorB=39AA54)' message='IMPROVE: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![FIX](https://img.shields.io/badge/-FIX-gray.svg?colorB=ff6347)' message='FIX: '}}
    > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

  {{#commit-list commits heading='![DOCS](https://img.shields.io/badge/-DOCS-gray.svg?colorB=978CD4)' message='DOC:'}}
   > {{subject}} [`{{shorthash}}`]({{href}}) <br>
  {{/commit-list}}

    <br>
{{/each}}
